{% extends 'base.html.twig' %}

{% block title %}Newsletters
{% endblock %}

{% block body %}

	<div class="container">
		<fieldset>
			<h3>Choisissez vos newsletters</h3>
			{{form(form)}}
			</div>
		</fieldset>

	{% endblock %}
