{% extends 'base.html.twig' %}
{% block title %}Bijoux Siam
{% endblock %}

{% block body %}

	<div class="col-2 " id="col">
		{{form(form)}}
		</div>


		<p class="gratuite">Livraison gratuite pour les commandes supérieures à 50 €</p>
		<div class=" container-flid texte-center divvideo ">
			<div class="row align-items-center">
				<div class="col-mx-12 col-ms-12 col-md-4 col-lg-4 ">
					<p class="coeur">FAITES-VOUS PLAISIR
					</p>
					<p id="coeur" class="coeur">Nos sélections coup de coeur
					</p>
				</div>
				<div class=" col-mx-12 col-ms-12 col-md-4 col-lg-4">
					<video controls src="{{asset('video/vid1.mp4')}}" autoplay loop muted></video>

				</div>
			</div>
		</div>
		<main class="container">
			<div class="row">

				{% for product in products %}


					<fieldset class=" col-ms-12 col-md-5 col-lg-3 ">

						<div class="card h-100">

							<div class="card-body">
								<h5 class="card-title">{{product.name}}</h5>
								<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								<a href="{{path('produit_details',{slug:product.slug})}}" class="btn btn-secondary mb-2">Voir plus</a>
							</div>
						</div>

					</fieldset>


				{% endfor %}


			</main>
		{% endblock %}


		{% block stylesheets %}


			<style>

				#col {

					margin: 5px 1200px;

				}
				#btn {

					margin-buttom: -100;
					pading: 0;
					z-index: 2;
				}
			</style>
		{% endblock %}
